---
import Root from "../layouts/root.astro";
import "../styles/base.css";
---

<Root />
<div class="flex flex-col min-h-[100vh]" id="root">
    The route you were trying to access does not exist. 404
</div>
