---
import Header from "../components/Header.astro";
import ContactSection from "../components/ContactSection.astro";
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Greeting from "../components/Greeting.astro";
import Footer from "../components/Footer.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
import Root from "../layouts/root.astro";
import "../styles/base.css";
---

<Root />
<div class="flex flex-col min-h-[100vh]" id="root">
    <Header />
    <Layout>
        <Greeting />
        <About />
        <Skills />
        <Projects />
        <Experience />
        <Education />
        <ContactSection />
        <Footer />
    </Layout>
    <ScrollToTop />
</div>
