---
import { Image } from "astro:assets";
import Me from "/public/me.jpeg";
---

<section class="w-full py-24" id="about">
    <div class="container grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:gap-12">
        <Image
            src={Me}
            alt="Mark Scharmann"
            class="mx-auto order-last shadow-2xl max-w-60 max-h-60 md:max-w-96 md:max-h-96"
            height="2893"
            src="/me.jpeg"
            style={{
                aspectRatio: "300/300",
                objectFit: "cover",
            }}
            width="2388"
        />
        <div class="flex flex-col justify-center space-y-4">
            <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">
                About Me
            </h2>
            <p
                class="max-w-[600px] text-gray-500 md:text-xl/relaxed dark:text-gray-400"
            >
                Code, coffee and politics. That is what I am about.
            </p>
            <p
                class="max-w-[600px] text-gray-500 md:text-xl/relaxed dark:text-gray-400"
            >
                At the moment I am working at Fintiba GmbH in Frankfurt as a
                Python/Django developer. Bevor that I was studying Political
                Science at the Goethe University Frankfurt. I got into software
                development during my studies through statistical analysis and
                quantitative research.
            </p>
            <p
                class="max-w-[600px] text-gray-500 md:text-xl/relaxed dark:text-gray-400"
            >
                I have a passion for good coffee and if you want to do me a
                favor invite me over coffee! Show me your favorite spot :)
            </p>
        </div>
    </div>
</section>
