<section class="w-full py-24" id="education">
    <div class="container px-4 md:px-6">
        <h2
            class="text-3xl text-center font-bold tracking-tighter sm:text-5xl mb-12"
        >
            Education
        </h2><div
            class="rounded-lg border bg-card text-card-foreground shadow-sm"
        >
            <div class="flex flex-col space-y-1.5 p-6">
                <h3 class="text-xl font-bold">
                    Bachelor's Degree in Political Science (Major) and American
                    Studies (Minor) (2018-2022)
                </h3>
            </div><div class="p-6 pt-0">
                <p
                    class="text-sm md:text-lg/relaxed text-gray-500 dark:text-gray-400"
                >
                    Foundational education in Political Science (economics,
                    philosophy, research methodology and many more aspects) with
                    a specialization in quantitative research and analysis.
                    Wrote my Bachelors Thesis on the impact of the individuals
                    identity on the attitudes towards different integration
                    areas of the EU. To achieve this task I analyzed the
                    Eurobarometer 92.3 open data set issued by the European
                    Commission using the R programming language.
                </p><p
                    class="text-sm md:text-lg/relaxed text-gray-500 dark:text-gray-400"
                >
                    You can see the code in the <span
                        id="projectScroll"
                        class="text-blue-600 hover:text-green-500 text-center hover:cursor-pointer"
                        >Projects</span
                    > above.
                </p>
            </div>
        </div>
    </div>
</section>
<script>
    const handleClickScroll = (id: string) => {
        const element = document.getElementById(id);
        if (element) {
            element.scrollIntoView({ behavior: "smooth" });
        }
    };
    const elem = document.getElementById("projectScroll");
    elem?.addEventListener("click", () => {
        handleClickScroll("projects");
    });
</script>
