<footer
    class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t"
>
    <p class="text-xs text-gray-500 dark:text-gray-400">
        © Mark Scharmann. All rights reserved.
    </p><nav class="sm:ml-auto flex gap-4 sm:gap-6">
        <p class="text-xs">
            Initial design created using <a
                class="hover:text-green-500 cursor-pointer"
                target="_blank"
                href="https://v0.dev/">v0 by Vercel</a
            >. Further refined, developed and deployed by Me on <a
                class="hover:text-green-500 cursor-pointer"
                target="_blank"
                href="https://cloudflare.com/">Cloudflare</a
            >.
        </p>
    </nav><p class="text-xs">
        <a
            class="hover:text-green-500"
            target="_blank"
            href="https://icons8.com/icon/B37a7ScLB0NO/m">M</a
        > icon by <a
            href="https://icons8.com"
            class="hover:text-green-500"
            target="_blank">Icons8</a
        >
    </p>
</footer>
