<section class="w-full py-24 bg-gray-100 dark:bg-gray-800" id="hero">
    <div class="container px-4 md:px-6">
        <div
            class="flex flex-col items-center justify-center space-y-4 text-center"
        >
            <h1 class="text-5xl font-bold tracking-tighter sm:text-7xl">
                Hey ho, I'm
            </h1><h1
                class="text-5xl font-bold tracking-tighter sm:text-7xl text-transparent bg-clip-text bg-gradient-to-br from-green-400 to-yellow-500"
            >
                Mark
            </h1><p
                class="max-w-[600px] text-gray-500 md:text-xl/relaxed dark:text-gray-400"
            >
                Web Developer specialized in Python and a bit of Frontend. I do
                also happen know a thing or two about data.
            </p><button
                class="hover:cursor-pointer inline-flex h-10 items-center justify-center rounded-md bg-gray-900 px-8 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-gradient-to-r hover:animate-pulse hover:from-green-400 hover:to-yellow-500 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50 dark:bg-gray-50 dark:text-gray-900 dark:hover:bg-gray-50/90 dark:focus-visible:ring-gray-300"
                id="contactButton"
                aria-controls="react-collapsed-panel-:r1:"
                aria-expanded="false"
                role="button"
                tabindex="0">Contact Me</button
            >
        </div>
    </div>
</section>

<script>
    const handleClickScroll = (id: string) => {
        const element = document.getElementById(id);
        if (element) {
            element.scrollIntoView({ behavior: "smooth" });
        }
    };
    const elem = document.getElementById("contactButton");
    elem?.addEventListener("click", () => {
        handleClickScroll("contact");
    });
</script>
