---
import DarkModeToggle from "./DarkModeToggle.astro";
import HeaderDirektive from "./HeaderDirektive.astro";
---

<header class="sticky top-0 left-0 w-full bg-background">
    <div class="px-4 lg:px-6 flex items-center justify-between ml-4 my-4">
        <div class="flex items-center">
            <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <polyline points="16 18 22 12 16 6"></polyline>
                <polyline points="8 6 2 12 8 18"></polyline>
            </svg>
            <span class="text-xl font-bold ml-2">Mark Scharmann</span>
        </div>
        <nav class="hidden sm:ml-auto sm:flex gap-4">
            <HeaderDirektive
                ownID={"aboutDirektive"}
                id={"about"}
                label={"About"}
            />
            <HeaderDirektive
                ownID={"skillsDirektive"}
                id={"skills"}
                label={"Skills"}
            />
            <HeaderDirektive
                ownID={"projectsDirektive"}
                id={"projects"}
                label={"Projects"}
            />
            <HeaderDirektive
                ownID={"experienceDirektive"}
                id={"experience"}
                label={"Experience"}
            />
            <HeaderDirektive
                ownID={"educationDirektive"}
                id={"education"}
                label={"Education"}
            />
            <HeaderDirektive
                ownID={"contactDirektive"}
                id={"contact"}
                label={"Contact"}
            />
        </nav>
        <div class="ml-4 hidden sm:flex">
            <DarkModeToggle />
        </div>
        <div class="sm:hidden">
            <button
                class="hidden items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 w-10 rounded-full"
                id="xButton"
                type="button"
                ><svg
                    class="h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path d="M18 6 6 18"></path><path d="m6 6 12 12"
                    ></path></svg
                ><span class="sr-only">Toggle navigation menu</span></button
            >
            <button
                class="items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 w-10 rounded-full"
                id="hamburgerButton"
                type="button"
                ><svg
                    class="h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><line x1="4" x2="20" y1="12" y2="12"></line><line
                        x1="4"
                        x2="20"
                        y1="6"
                        y2="6"></line><line x1="4" x2="20" y1="18" y2="18"
                    ></line></svg
                ><span class="sr-only">Toggle navigation menu</span></button
            >
        </div>
    </div>
    <div id="hiddenNav" class="hidden pb-4">
        <div class="flex gap-4 justify-center">
            <nav class="sm:ml-auto flex gap-4 items-center justify-center">
                <HeaderDirektive
                    ownID={"hiddenAboutDirektive"}
                    id={"about"}
                    label={"About"}
                />
                <HeaderDirektive
                    ownID={"hiddenSkillsDirektive"}
                    id={"skills"}
                    label={"Skills"}
                />
                <HeaderDirektive
                    ownID={"hiddenProjectsDirektive"}
                    id={"projects"}
                    label={"Projects"}
                />
                <HeaderDirektive
                    ownID={"hiddenExperienceDirektive"}
                    id={"experience"}
                    label={"Experience"}
                />
                <HeaderDirektive
                    ownID={"hiddenEducationDirektive"}
                    id={"education"}
                    label={"Education"}
                />
                <HeaderDirektive
                    ownID={"hiddenContactDirektive"}
                    id={"contact"}
                    label={"Contact"}
                />
                <div class="ml-4 sm:hidden">
                    <DarkModeToggle />
                </div>
            </nav>
        </div>
    </div>

    <script>
        const xButton = document.getElementById("xButton");
        const hamburgerButton = document.getElementById("hamburgerButton");

        xButton?.addEventListener("click", () => {
            const xButton = document.getElementById("xButton");
            const hamburgerButton = document.getElementById("hamburgerButton");
            const hiddenNav = document.getElementById("hiddenNav");
            xButton.classList.add("hidden");
            hamburgerButton.classList.remove("hidden");
            hiddenNav.classList.add("hidden");
        });

        hamburgerButton?.addEventListener("click", () => {
            const xButton = document.getElementById("xButton");
            const hamburgerButton = document.getElementById("hamburgerButton");
            const hiddenNav = document.getElementById("hiddenNav");
            xButton.classList.remove("hidden");
            hamburgerButton.classList.add("hidden");
            hiddenNav.classList.remove("hidden");
        });
    </script>
</header>
