<section class="w-full py-24" id="projects">
    <div class="container px-4 md:px-6">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl mb-12">
            Projects
        </h2>
        <div class="grid md:gap-6 sm:grid-cols-1 lg:grid-cols-3">
            <div
                class="rounded-lg border bg-card text-card-foreground shadow-sm"
            >
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-lg font-bold">Bachelor Thesis</h3>
                </div><div class="p-6 pt-0">
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        In my Bachelors Thesis I analysed how identity
                        influences the individuals attitude towards three
                        different pillars of the EU integration process. To
                        realize the analysis I used the R programming language
                        and the Eurobarometer 92.3 dataset. I can not put up the
                        whole Bachelors Thesis due to plagiarism concerns.
                    </p><a
                        class="text-blue-600 hover:text-green-500"
                        target="_blank"
                        href="/ba.html">View Code</a
                    >
                </div>
            </div>
            <div
                class="rounded-lg border bg-card text-card-foreground shadow-sm"
            >
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-lg font-bold">Advent of Code Solutions</h3>
                </div><div class="p-6 pt-0">
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        My advent of code solutions.
                    </p><a
                        class="text-blue-600 hover:text-green-500"
                        target="_blank"
                        href="https://github.com/ma-a-sc/AdventOfCode">Github</a
                    >
                </div>
            </div>
            <div
                class="rounded-lg border bg-card text-card-foreground shadow-sm"
            >
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-lg font-bold">This personal website</h3>
                </div><div class="p-6 pt-0">
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        My new personal portfolio website. It uses a
                        golang/fiber backend that directly serves the app and
                        the api. On the frontend it uses
                        typescript/react/tailwindcss. The site is deployed using
                        Railway and the initial design was done using v0.dev by
                        Vercel.
                    </p><a
                        class="text-blue-600 hover:text-green-500"
                        target="_blank"
                        href="https://github.com/ma-a-sc/new_personal_portfolio"
                        >Github</a
                    >
                </div>
            </div><div
                class="rounded-lg border bg-card text-card-foreground shadow-sm"
            >
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-lg font-bold">My first porfolio website</h3>
                </div><div class="p-6 pt-0">
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        My old personal portfolo website using a basic
                        python/fastAPI backend and plain HTML/TailwindCSS for
                        the frontend.
                    </p><a
                        class="text-blue-600 hover:text-green-500"
                        target="_blank"
                        href="https://github.com/ma-a-sc/personal_website"
                        >Github</a
                    >
                </div>
            </div><div
                class="rounded-lg border bg-card text-card-foreground shadow-sm"
            >
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-lg font-bold">Jane Austin Text Mining</h3>
                </div><div class="p-6 pt-0">
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        This project was build during a voluntary Text Mining in
                        R course taught at my university by a another Master
                        Student. It tries to gain insight into the books of Jane
                        Austin using different text mining techniques.
                    </p><a
                        class="text-blue-600 hover:text-green-500"
                        target="_blank"
                        href="/janeausten.html">View Code</a
                    >
                </div>
            </div><div
                class="rounded-lg border bg-card text-card-foreground shadow-sm"
            >
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-lg font-bold">Hunger Games Text Mining</h3>
                </div><div class="p-6 pt-0">
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        After working through the book 'Text Mining using R: A
                        tidy approach' I used the techniques learned to analyze
                        my favourite trilogy. At the time of doing the analysis
                        the prequel book was not out.
                    </p><a
                        class="text-blue-600 hover:text-green-500"
                        target="_blank"
                        href="/hungergames.html">View Code</a
                    >
                </div>
            </div><div
                class="rounded-lg border bg-card text-card-foreground shadow-sm"
            >
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-lg font-bold">Scraping Antiwar.com</h3>
                </div><div class="p-6 pt-0">
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        In this project I wrote a basic webscraper to get all
                        the articles published until then of antiwar.com. The
                        idea was to collect data to do text mining on it, but I
                        never did the analysis.
                    </p><a
                        class="text-blue-600 hover:text-green-500"
                        target="_blank"
                        href="https://github.com/ma-a-s/scraping_antiwar.com"
                        >Github</a
                    >
                </div>
            </div><div
                class="rounded-lg border bg-card text-card-foreground shadow-sm"
            >
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-lg font-bold">Replication Johnston in R</h3>
                </div><div class="p-6 pt-0">
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        Statistical Analysis/Replication project conducted as
                        part of a university course titled: 'Contrasting
                        SPSS,STATA and R'. The project replicates the study and
                        applies it to a new region of study. Study to replicate:
                        Johnston et al. 2010: National Identity and Support for
                        the Welfare State.
                    </p><a
                        class="text-blue-600 hover:text-green-500"
                        target="_blank"
                        href="/johnston.pdf">View Code</a
                    >
                </div>
            </div><div
                class="rounded-lg border bg-card text-card-foreground shadow-sm"
            >
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-lg font-bold">Replication Larsen in R</h3>
                </div><div class="p-6 pt-0">
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        Smaller analysis/replication project for a university
                        course titled: 'Contrasting SPSS,STATA and R'. A pure
                        replication of the methods used in the study. Study to
                        replicate: Larsen, C. 2016: How Three Narratives of
                        Modernity Justify Economic Inequality.
                    </p><a
                        class="text-blue-600 hover:text-green-500"
                        target="_blank"
                        href="/larsen.html">View Code</a
                    >
                </div>
            </div><div
                class="rounded-lg border bg-card text-card-foreground shadow-sm"
            >
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-lg font-bold">Cli Password Manager</h3>
                </div><div class="p-6 pt-0">
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        My first project. Trying to develop a CLI based password
                        manager. The encryption was done using fernet.
                    </p><a
                        class="text-blue-600 hover:text-green-500"
                        target="_blank"
                        href="https://github.com/ma-a-sc/PwManager">Github</a
                    >
                </div>
            </div><div
                class="rounded-lg border bg-card text-card-foreground shadow-sm"
            >
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-lg font-bold">
                        Youtube download web 'app'
                    </h3>
                </div><div class="p-6 pt-0">
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        Ridiculously basic youtube to mp3 download web app.
                    </p><a
                        class="text-blue-600 hover:text-green-500"
                        target="_blank"
                        href="https://github.com/ma-a-sc/youtube_dl_web_app"
                        >Github</a
                    >
                </div>
            </div>
        </div>
    </div>
</section>
