<section class="w-full py-24 bg-gray-100 dark:bg-gray-800" id="skills">
    <div class="container px-4 md:px-6">
        <h3 class="tracking-tighter text-5xl mt-6">Software Development</h3>
        <p class="my-6">
            I have been coding in Python now for half a decade and over 2 year
            professionally. Professionally I am most comforable with monolithic
            Django setups.
        </p><p>
            In my free time I take time to explore different programming
            languages and (web) technologies. I had a good look at Swift, Rust,
            Go for example. Of course I also dove into frontend development.
            This <a
                class="text-blue-600 hover:text-green-500"
                href="https://github.com/ma-a-sc/new_personal_portfolio"
                target="_blank">website</a
            > should be a testament to that.
        </p><div class="mt-6">
            <h3 class="tracking-tighter text-5xl mt-6">Data Analysis</h3>
            <p class="my-6">
                In university I got into statistical analysis and R. I really
                enjoyed it and eventually wrote my Bachelors Thesis using R to
                analyse a dataset. The code of my BA can be found further down
                in the <a
                    id="projectScroll2"
                    class="text-blue-600 hover:text-green-500 text-center hover:cursor-pointer"
                    >Projects</a
                > section. Besides that I got into touch with analyzing texts (Text
                Mining) and gathering data through web scraping. Some of the projects
                are down below.
            </p>
        </div>
    </div>
</section>
<script>
    const handleClickScroll = (id: string) => {
        const element = document.getElementById(id);
        if (element) {
            element.scrollIntoView({ behavior: "smooth" });
        }
    };
    const elem = document.getElementById("projectScroll2");
    elem?.addEventListener("click", () => {
        handleClickScroll("projects");
    });
</script>
